.app.sudoku input[type=file] {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.app.sudoku .sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 3px;
}

.app.sudoku .red-border {
    border: 5px solid red;
}

.app.sudoku .green-border {
    border: 5px solid green;
}

.app.sudoku .white-background {
    /* overrides default color */
    background-color: white !important;
}

.app.sudoku .blue-background {
    /* overrides default color */
    background-color: lightblue !important;
}

.app.sudoku .sudoku-cell {
    aspect-ratio: 1/1;
}

.app.sudoku .sudoku-cell input {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    font-size: x-large;
    border: none;
    text-align: center;
}

.app.sudoku .sudoku-cell:nth-child(-n + 9),
.app.sudoku .sudoku-cell:nth-child(n + 28):nth-child(-n + 36),
.app.sudoku .sudoku-cell:nth-child(n + 55):nth-child(-n + 63) {
    border-top: 3px solid orange;
}

.app.sudoku .sudoku-cell:nth-child(n + 19):nth-child(-n + 27),
.app.sudoku .sudoku-cell:nth-child(n + 46):nth-child(-n + 54),
.app.sudoku .sudoku-cell:nth-last-child(-n + 9) {
    border-bottom: 3px solid orange;
}

.app.sudoku .sudoku-cell:nth-child(3n) {
    border-right: 3px solid orange;
}

.app.sudoku .sudoku-cell:nth-child(3n + 1) {
    border-left: 3px solid orange;
}