body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 3.5%
}

h1 {
    padding-bottom: 10px;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.app {
    width: 360px;
}

.app form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app .form-control {
    margin: 15px 0px;
    padding: 15px;
}

.app button {
    border-color: #000000;
    font-size: xx-large;
    color: #000000;
    font-weight: 500;
    text-align: center;
    text-wrap: nowrap;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
}

.app button.fifty-percent {
    width: 49%;
}

.app button.fifty-percent:last-child:nth-child(odd) {
    width: 100%;
}

.app button.restart {
    background-color: salmon;
}

@media (pointer: coarse) {
    .col {
        flex: auto;
    }

    .app {
        width: 100%;
    }
}