.calculator {
  background-color: #4e4e4e;
  border: 5px solid #cacacab4;
  border-radius: 5px;
}

.calculator .row {
  height: 18.5%;
  padding: 0 3%;
}

.calculator .row button {
  height: 90%;
  width: 18%;
  padding: 0;
}

.calculator .first {
  margin-top: -5px;
  height: 10.4%;
  margin-bottom: 4px;
}

.calculator .first button {
  background-color: salmon;
}