.calculator {
  background-color: #4e4e4e;
  border: 5px solid #cacacab4;
  border-radius: 5px;
  width: 360px;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.calculator .form-control {
  margin: 15px 0px;
  padding: 15px;
}

.calculator .row {
  height: 18.5%;
  padding: 0 3%;
}

.calculator .row button {
  border-color: #000000;
  font-size: xx-large;
  color: #000000;
  font-weight: 500;
  height: 90%;
  width: 18%;
  padding: 0;
  text-align: center;
}

.calculator .first {
  height: 10.4%;
  margin-bottom: 4px;

}

.calculator .first button {
  background-color: salmon;
}