.rubikTimer h2 {
    text-align: center;
}

.rubikTimer h3 {
    font-size: 50px;
    text-align: center;
}

.rubikTimer h3.green-timer {
    color: greenyellow;
}
.rubikTimer h3.running-timer {
    font-size: 80px;
}