.app.rubikTimer h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(126, 160, 224);
}

.app.rubikTimer h3 {
    font-size: 50px;
    text-align: center;
    color: rgb(145, 93, 175);
}

.app.rubikTimer h3.green-timer {
    color: greenyellow;
}

.app.rubikTimer h3.running-timer {
    font-size: 80px;
}

.app.rubikTimer h4 {
    color: rgb(155, 113, 22);
    line-height: 20px;
}

.timerContainer {
    width: 100%;
}

.background {
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
}

.nonSelectable {
    user-select: none;
}

.app.rubikTimer h2.five {
    font-size: 40px;
    line-height: 40px;
}

.app.rubikTimer h2.megaminx {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -6px;
    white-space: preserve;
    line-height: 35px;
}

@media (pointer: coarse) and (orientation: landscape) {

    .timerContainer {
        position: relative;
    }

    .background {
        position: absolute;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 0.23fr 0.25fr 0.52fr;
        bottom: 0px;
        width: 100%;
    }

    .app.rubikTimer h3 {
        padding-left: 22%;
    }

    .app.rubikTimer h3.green-timer {
        padding: 0;
    }

    .app.rubikTimer h3.running-timer {
        padding: 0;
        font-size: 150px;
    }

    .app.rubikTimer h2.two,
    .app.rubikTimer h2.pyraminx {
        font-size: 85px;
        line-height: 85px;
    }

    .app.rubikTimer h2.three,
    .app.rubikTimer h2.bld {
        font-size: 65px;
        line-height: 65px;
    }

    .app.rubikTimer h2.five {
        font-size: 37px;
        line-height: 37px;
    }
}