.row .secretSanta form button {
    font-size: x-large;
    width: 50%;
    margin-right: 5px;
    flex: 1;
    height: 62px
}

.row .secretSanta form button:last-child {
    margin-right: 0px;
}

.row .secretSanta .restart {
    width: 100%;
    background-color: salmon;
    margin: 10px 0px;
    font-size: xx-large;
}

.row .secretSanta .pressMeToShow {
    width: 100%;
    margin: 10px 0px
}