# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules

# keys
server/src/main/resources/application.yml
server/src/main/resources/application-dev.yml
server/src/main/resources/application-prod.yml
server/src/main/resources/certificates/keystore.jks
client/.env

# production
client/build
client/cordova_env
server.jar

target/
!server/.mvn/wrapper/maven-wrapper.jar
!server/**/src/main/**/target/
!server/**/src/test/**/target/

# misc
.vscode/
source.json