# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules

# environment
/client/.env

# not front end
/server

# production
client/build
client/cordova_env
client/build-android.sh

# misc
.vscode/
.idea/
source.json
