.app.calculator {
  height: 600px;
  padding: 0px 10px;
  background-color: #4e4e4e;
  border: 5px solid #cacacab4;
  border-radius: 5px;
}

.app.calculator .row {
  height: 18.5%;
  padding: 0 3%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.app.calculator .row button {
  height: 90%;
  width: 18%;
  padding: 0;
}

.app.calculator .first {
  margin-top: -5px;
  height: 10.4%;
  margin-bottom: 4px;
}

.app.calculator .first button {
  background-color: salmon;
}

.app.calculator form {
  position: relative;
}

@media (pointer: coarse) {
  .app.calculator {
    width: 360px;
  }
}