spring:
  IPAddress:
    privateAddress: <address>
    publicAddress: <address>
  security:
    user:
      name: <name>
      password: <password>
  datasource:
    url: jdbc:<server>://<address>:<port>/<database>
    username: <username>
    password: <password>
