.app.shopping .table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

.app.shopping label.form-label {
    margin: 0;
}

.app.shopping .table {
    margin: 15px 0px;
}

.app.shopping .table th,
.app.shopping .table td {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app.shopping .table .cell-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.app.shopping button {
    font-size: x-large;
}

.app.shopping .table button {
    padding: 0;
}

.app.shopping .table button.icon-button {
    visibility: hidden;
    height: 0;
    width: fit-content;
    display: flex;
    align-items: center;
}

.app.shopping .table button img {
    visibility: visible;
    height: 20px;
}

.app.shopping .table .form-control {
    margin: 0;
    padding: 0 5%;
}