.form-control {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
}

.calculator {
  background-color: #4e4e4e;
  border: 5px solid #cacacab4;
  border-radius: 5px;
  width: 400px;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calculator div {
  width: 100%;
  height: 18.5%;
  margin-left: 1%;
}

.calculator button {
  border-color: #000000;
  font-size: xx-large;
  color: #000000;
  font-weight: 500;
  height: 90%;
  width: 18%;
  padding: 0;
  margin: 3px;
  text-align: center;
}

.calculator .first {
  height: 10.4%;
  margin-bottom: 4px;

}

.calculator .first button {
  background-color: rgb(218, 117, 187);
}