.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.calculator {
  background-color: #000000;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 600px; 
}

  .calculator .row {
    width: 100%;
    height: 19%;
  }

    .calculator button {
      font-size: large;
      color: #000000;
      font-weight: 500;
      margin-left: 5px;
      height: 90%;
      width: 130%;
    }

  .calculator .first{
    height: 10.4%;
  }

    .calculator .first button {
      background-color: rgb(218, 117, 187);
    }
  