.secretSanta {
    width: 400px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.secretSanta .form-control {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;
}

.secretSanta div {
    width: 100%;
    height: 18.5%;
    margin-left: 1%;
}

.secretSanta button {
    width: 48%;
    border-color: #000000;
    font-size: xx-large;
    color: #000000;
    font-weight: 500;
    padding: 10px;
    margin: 3px;
    text-align: center;
}

.secretSanta .restart {
    width: 100%;
    background-color: salmon;
}

.secretSanta .pressMeToShow {
    width: 100%;
}